{% extends "login/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Recuperar Contraseña{% endblock %}
{% block headerTitle %}Recuperar Contraseña{% endblock %}
{% block content %}
    <div class="m-0 vh-100 row justify-content-center align-items-center d-flex">
      <div class="card shadow-lg p-4">
	<form method="POST">
	  {% csrf_token %}
	  <fieldset class="form-group">
	    {{ form|crispy }}
	  </fieldset>
	  <div class="">
	    <button class="mb-4 btn btn-secondary" type="submit">Recuperar Contraseña</button>
	  </div>
	</form>
      </div>
    </div>
{% endblock content %}

