{% extends "login/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Inicio{% endblock %}
{% block headerTitle %}Sistema de Empadronamiento Online{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
      <div class="card shadow-lg p-4">
	<form method="POST">
	  {% csrf_token %}
	  <fieldset class="form-group">
	    {{ form|crispy }}
	  </fieldset>
	  <div class="">
	    <button class="mb-4 btn btn-secondary">Iniciar sesión</button>
	  </div>
	</form>
	<div class="d-flex flex-col">
	  <div class=" flex-row flex-fill">
	    <a href="#" class="small text-info">Recuperar contraseña</a>
	  </div>
	  <div class="flex-row flex-fill">
	    <a href="{% url 'registro' %}" class="small text-info">Registrarse</a>
	  </div>
	</div>
      </div>
    </div>
{% endblock content %}

