{% extends "login/base.html" %}

{% block title %}Información Personal{% endblock %}
{% block headerTitle %}Información Declarada{% endblock %}
{% block content %}
    <div class="m-0 vh-100 row justify-content-center align-items-center">
      <div class="card shadow-lg p-4">
	<ul class="">
	  <li>Apellido: {{ persona.apellido }}</li>
	  <li>Nombre: {{ persona.nombre }}</li>
	  <li>DNI: {{ persona.dni }}</li>
	</ul>
	<div class="">
	    <a href="{% url 'direccion' user.id %}" class="">Continuar</a>
	    <a href="{% url 'tablero' %}" class="">Regresar al tablero principal</a>
	    <a href="{% url 'modificar_info_personal' user.id %}" class="">Modificar información personal</a>
	  </div>
      </div>
    </div>
{% endblock content %}
