{% extends "login/base.html" %}

{% block title %}Dirección Declarada{% endblock %}
{% block headerTitle %}Dirección Declarada{% endblock %}
{% block content %}
    <div class="m-0 vh-100 row justify-content-center align-items-center">
      <div class="card shadow-lg p-4">
	<ul class="">
	  <li>Calle: {{ direccion.calle }}</li>
	  <li>Numero: {{ direccion.no }}</li>
	  {% if direccion.departamento %}
	  <li>Departameto: {{ direccion.departamento }}</li>
	  {% endif %}
	  {% if direccion.piso %}
	  <li>Piso: {{ direccion.piso }}</li>
	  {% endif %}
	  <li>Código Postal: {{ direccion.codigo_postal }}</li>
	  <li>Barrio: {{ direccion.barrio }}</li>
	</ul>
	<div class="">
	  <a href="{% url 'tablero' %}" class="">Regresar al tablero principal</a>
	  <a href="{% url 'modificar_direccion' user.id %}" class="">Modificar dirección</a>
	</div>
      </div>
    </div>
{% endblock content %}

