{% extends "login/base.html" %}

{% block title %}Información Personal{% endblock %}
{% block headerTitle %}Sin Registros{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
      <div class="card shadow-lg p-4">
	  <p>Actualmente no hay registros asociados a su cuenta</p>
	  <p>Por favor haga click <a href="{% url 'registro_direccion' %}">aca</a> para agregar informacion</p>
      </div>
      <div class="">
	<a href="{% url 'tablero' %}" class="">Regresar al tablero principal</a>
      </div>
    </div>
{% endblock content %}
